<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <h1> eBay </h1>
     <h2> eBay is a platform where you can find everything you need for very suitable prices and also you can have your own shop and sell items. items include cars, clothes, collectibles & more.😍<br> 
     delivery available to everywhere 🚚<br>
     Based in Jerusalem 📍 <br>
    </h2>
    <br>
    <br>
    <h3> Beeswax </h3>
    <img src="beeswax.jpg">
    <br>
    <br>
    <br>
    <h3> Shoes </h3>
    <img src="conv.jpeg">
    <br>
    <br>
    <h3> Phones </h3>
    <img src="iphone.jpeg">
    <br>
    <br>
    <br>
    




</head>
<body>

</body>
</html>