<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <img src="beeswax.jpg">
    <h3> Beeswax is a product made from the honeycomb of the honeybee and other bees. The mixing of pollen oils into honeycomb wax turns the white wax into a yellow or brown color. Beeswax is used for high cholesterol, pain, fungal skin infections, and other conditions. </h3>
    <a href="/cart"><button> add to cart </button></a>
    <br>
    <br>
    <a href="/"><button> back to homepage </button></a>




</body>
</html>